
<%= stylesheet_link_tag "application" %>

<div class="login-container">
 <%= form_tag login_path do %>

  <div class="container" style="height:410px;">
  	<h1>Sign In</h1>
    <label for="uname"><b>Username</b></label>
    <%= text_field_tag :username %>

    <label for="psw"><b>Password</b></label>
    <%= password_field_tag :password%>

        
    <button type="submit" class="loginPageBtn">Login</button>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  
  <div class="container" style="background-color:#f1f1f1; height:82px;">
    <button type="button" class="loginPageBtn signupbtn"><b><%= link_to 'Sign Up', new_user_path %></b></button>
    <span class="psw">Forgot <%= link_to 'Password?', sessions_path %></span>
    <span class="psw"><%= link_to 'Continue as Guest?', widgets_path %></span>
  </div>
 
</div>
<p id="notice" style="color: red;"><%= notice %></p>
 <%end%>
 
</div>
