<h1>Reset Password</h1>
   <%= form_tag '/reset' do %>
   <%= label_tag :email%>
   <%= text_field_tag :email %><br/><br/>
   <%= submit_tag "reset"%>
<%end%>
<br/><br/>
<%= link_to 'Back', welcome_path %>