<%= stylesheet_link_tag "application" %>

<div class="register-container">
<form>
<h1>User Details</h1>
<p id="notice"><%= notice %></p>
 <div class="container">
<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @user.imageurl %>
</p>
</div>
<div class="clearfix">
      <button type="button" class="registerPageBtn signupbtn"><%= link_to 'Back', widgets_path %></button>
      
      <!--<button type="submit" class="registerPageBtn signupbtn"><%= link_to 'Edit', edit_user_path(@user.id) %></button>-->
    </div>
</form>
</div>