
<div class="register-container">
<%= form_with(model: widget, local: true) do |form| %>
  <% if widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container">
    <h1>New Widget</h1>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :widget_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :widget_description %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind, [['Hidden','hidden'],['Visible','visible']], id: :widget_kind %>
  </div>

   <div class="clearfix">
      <button type="button" class="registerPageBtn cancelbtn"><%= link_to 'Cancel', widgets_path %></button>
      
      <button type="submit" class="registerPageBtn signupbtn">Create</button>
    </div>

  </div>
<% end %>
</div>
